.data-box.fail{:class => fail_css_class(fail)}
  .box-header
    .box-title
      .title=fail.title
      .location
        %strong at
        =fail.location
    .box-right
      -unless fail.resolved
        %span.last_occured_at
          %span.date=time_ago_in_words(fail.last_occurence_at) + " ago"
        %span.actions
          =link_to('Resolve', resolve_fail_path(fail), :method => :post, :class => 'button positive')
        %span.count.negative
          %span.number= fail.occurence_count
      -else
        .state [resolved]

  =render :partial => 'fails/occurence', :object => fail.last_occurence
