.box-data
  .box-content
    .occurences
      %span.previous
        -if occurence.previous_occurence_id
          =link_to('&laquo; Previous'.html_safe, project_fail_occurence_path(occurence.fail.project, occurence.fail, occurence.previous_occurence_id), :class => 'previous-occurence occurence-link')
        -else
          &laquo; Previous
    
      %span.datetime
        Showing occurence at
        =l(occurence.occured_at, :format => :occured_at)
    
      %span.next
        -if occurence.next_occurence_id
          =link_to('Next &raquo;'.html_safe, project_fail_occurence_path(occurence.fail.project, occurence.fail, occurence.next_occurence_id), :class => 'next-occurence occurence-link')
        -else
          Next &raquo;

    -occurence.sections.each do |section|
      =render :partial => "fails/section", :object => section
