body {
  background: #202020;
  color: #ABF26D;
  font-size:0.9em;
  letter-spacing:1px;
}

.header {
    width: 100%;
    height: 50pt;
    background: #ABF26D;
    border-bottom: 5pt solid #469400;
    margin-bottom: 30pt;
    color: #202020;
}

.header h1 {
    padding: 15pt 50pt;
    font-size:19pt;
    font-weight: bold;
}

h2 {
  color: #D9F970;
}


/* Fail cards view */

.fail-card {
  float: left;
  width: 100%;
  height: 100px;
  margin: 0 15px 15px 0;
  padding: 5px;
  background: #FFC373;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFAD40), color-stop(1, #FFC373));
  color: #202020;
  border: 2px solid #A65F00;
}
.fail-title {
    border-bottom: 1px solid #202020;
}
