body {
  background: #202020;
  color: #ABF26D;
  font-size:0.9em;
  letter-spacing:1px;
}

a, a:active, a:hover, a:visited {
  color: #ABF26D;
}

.header {
  width: 100%;
  height: 50pt;
  background: #ABF26D;
  border-bottom: 5pt solid #469400;
  margin-bottom: 30pt;
  color: #202020;
}

.header h1 {
  padding: 15pt 0;
  font-size:19pt;
  font-weight: bold;
}

h2 {
  color: #D9F970;
}

.actions {
  float: left;
  clear: left;
}

.fail-card, .section {
  display: block;
  float: left;
  width: 100%;
  margin: 0 15px 15px 0;
  background: #FFC373;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFAD40), color-stop(1, #FFC373));
  border: 2px solid #A65F00;
}
.fail-card > *, .section > * {
    padding: 5px 10px;
}
.fail-card {
  height: 65px;   
  cursor: pointer;
  text-decoration: none;    
}

.fail-card, .fail-card:hover, .fail-card:active, .fail-card:visited {
  color: #202020;
}
.fail-card:hover {
  border: 2px solid #7F44D6;    
}
.fail-title, .fail-location {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; /* opera */
  width: 80%;
}
.fail-title {
  font-size:1.2em;
  margin-bottom:7px;
}
.fail-location {
  font-size:0.8em;
  font-style:italic;
}
.fail-last-occurrence {
  float: right;   
  text-align: right;
  width: 15%;
  font-size:0.75em;
}


.fail-details h2 {
  float: left;
  width: 75%;
  margin-bottom: 5px;
}
.fail-details .occurences {
  float: right;
  margin-top: 15px;
  width: 25%;
  text-align: right;
}
.fail-details .occurences strong {
  font-size: 1.1em;
}
.section {
  color: #202020;     
}
.section h3 {
  border-bottom: 1px solid #202020;
}

.section dt {
  float: left;
  width: 20%;
  clear: left;
}
.section dd {
  float: left;
  width: 75%;
  padding-bottom: 5px;
}

.project {
  padding:7px;
  background-color:#eee;
  border-radius:5px;
  margin-bottom:10px;
}

.project a {
  color:#333;
}

.selected-project {
  background-color:#eee;
}

.selected-project a {
  font-weight:bold;
  color:green;
}

a.positive:visited {
  color:#529214;
}
