html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color:@body_background_color;
}


#wrapper {
    width:@layout_width;
    margin:0 auto;
    overflow:auto;
    height:0 auto !important;
    min-height:100%;
    background:@content_background;
    border-left:3px solid @content_border_color;
    border-right:3px solid @content_border_color;
}


/**
 * Header
 */
#header-container {
    position:absolute;
    left:0;
    width:100%;
    margin:0 auto;
    background:@header_background repeat-x;
}

#header {
    position:relative;
    margin:0 auto;
    left:0;
    width:@layout_width;
    height:@header_height;
    
    /* Make all header elements @header_height in height */
    > * {
        height:@header_height;
    }
    
    #logo {
        float:left;
        width:@logo_width;
        background:@logo no-repeat left center;
        
        h1 {
            display:none;
        }
    }

    #navigation {
        float:right;
        
        /* Align all navigation elements vertically to the header */
        > * {
            position:relative;
            top:@header_height / 3;
        }
    }
}

#content-wrapper {
    margin:@header_height auto;
}

#content {
    padding:@content_padding;
    
    > * {
        margin-bottom:10px;
    }
}
