.project {
    .box-header {
        .title {
            margin-top:@padding/2;
            font-weight:bold;
            margin-bottom:5px;
        }
        
        .last-fail {
          font-size:0.95em;
        }
    }
    
    .box-data {
        .occurences {
            color:@fg_color_lighter;
            font-weight:bold;
            padding:@padding;
            text-align:center;
            border-bottom:1px solid @box_border_color;
        }
    }
}

p.no-fails {
  margin-top:20px; 
}

h3 {
  margin-top:30px;
  font-size:1.2em;
}