body {
  margin: 15px;
  background: #202020;
  color: #ABF26D;
  font-size:0.9em;
  letter-spacing:1px;
}

/* override table striping from blueprint */
body tr:nth-child(even) td {
  background: none;
}


.project {
  display: block;
  margin: 15px;
  padding: 50px 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;  
  border-radius: 15px;        
  text-decoration: none;  
  border: 3px solid #202020; 
  overflow: hidden;
}
.project * {
  color: white;
  text-decoration: none;
}
.project:hover {
  border-color: white;
}
h1 {
  font-weight: bold;
}
h2 {
  margin-bottom: 0;
}
h3 {
  margin-top: 40px;
}
.project-ok {
  background: green;
}
.project-fail {
  background: red;  
  height: 250px;
}

.project-ok-small {
  height: 130px;
}
.project-ok-med {
  height: 200px;    
}
.project-ok-large { 
  height: 300px;    
}

