body {
  margin: 15px;
}
body tr:nth-child(even) td {
  background: none;
  
}
.project-ok, .project-fail {
  display: block;
  margin: 15px;
  padding: 50px 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;  
  border-radius: 15px;        
  text-decoration: none;  
}
.project-ok *, .project-fail * {
  color: white;
  text-decoration: none;
}
.project-ok h1, .project-fail h1 {
  font-weight: bold;
}
.project-ok {
  background: green;
  height: 150px;   
}
.project-fail {
  background: red;
  height: 250px;      
}

