.navigation
  = link_to "Radiator", radiator_url, :class => "tab #{in_radiator?? "tab-active" : "tab-inactive"}"
  = link_to "Projects", projects_url, :class => "tab #{in_radiator?? "tab-inactive" : "tab-active"}"  
  
