-semantic_form_for(@project) do |f|
  -f.inputs do
    =f.input :name

    =f.input :email_notification_recipients_str,
      :label => "Notify these persons via email:",
      :hint  => "Comma-separated list of email addresses to send notifications to when new fails arrive",
      :as    => :string
    
    -unless @project.new_record?
      =f.input :api_key,
        :label => "Generated API key",
        :hint => "Use this API key to configure your client to send fails to this project",
        :as => :string,
        :input_html => {:readonly => true, :class => 'readonly'}

  -f.buttons do
    =f.commit_button :button_html => {:class => 'positive'}
