.getting-started
  %p.no-fails
    Congratulations! This project hasn't failed before.

  %h3 Getting started

  %p
    To get started, choose your client. Available clients are listed at the
    =link_to('Failurous project page', 'http://github.com/mnylen/failurous', :target => :_blank)
  
  %p
    Use the following settings to configure the client:

  %dl
    %dt Server name:
    %dd= request.server_name
  
    %dt Server port:
    %dd= request.server_port
  
    %dt API key:
    %dd= @project.api_key