.project
  -link_to(project_path(project), {:class => 'button neutral project-button'}) do
    =project.name
    %span.count{:class => negative_or_positive_count(project)}
      =project.open_fails.count
