.data-box.project
  .box-header
    .box-title
      .title=link_to(project.name, project_path(project))
      -if project.last_open_fail
        .last-fail
          %strong to:
          =project.last_open_fail.title
      -else
        .last-fail
          no open fails
    .box-right
      %span.count{:class => project_fail_count_class(project)}
        %span.number= project.open_fails.count