.data-box.project
  .box-header
    .box-title
      .title=project.name
      -if project.last_open_fail
        .last-fail
          failed to:
          %strong=project.last_open_fail.title
      -else
        .last-fail
          %em has no open fails
    .box-right
      %span.count.negative
        %span.number= project.open_fails.count