%h2="Project settings: #{@project.name}"
=render :partial => 'form'
=render :partial => 'projects/instructions', :locals => {:title => 'Installation instructions'}
=link_to "&laquo; Back".html_safe, project_path(@project)
