%h2 Add new project
=render :partial => 'form'
%p
  After you hit
  %strong Create Project,
  the project will be created and you get the project's API key,
  which can be used to submit fails to your project.
