%h2.name
  =@project.name
  =link_to("(api key & settings)", edit_project_path(@project))
  
-unless @project.has_fails?
  Congratulations! This project hasn't failed since the last time you looked here.
-else
  .options
    Hide resolved:

    .toggler
      .on{:class => toggler_class(:on)}
        =link_to('on', project_path(@project))
      .off{:class => toggler_class(:off)}
        =link_to('off', project_path(@project, :show_resolved => true))
  .clear

-@fails.each do |fail|
  =render :partial => fail
