
.project-details
  %h2.name= @project.name
  .actions
    =link_to('Project settings', edit_project_path(@project), :class => 'button positive')
  
  - @project.open_fails.each do |fail|
    = render fail

