%h2.name
  =@project.name
  =link_to("(api key & settings)", edit_project_path(@project))
  
-unless @project.has_fails?
  Congratulations! This project hasn't failed since the last time you looked here.
-else
  .options
    Show resolved:

    .toggler
      %span.on.enabled
        =link_to('on', '')
      %span.off.disabled
        =link_to('off', '')

-@fails.each do |fail|
  =render :partial => fail
