%h2.name
  =@project.name
  =link_to("(api key & settings)", edit_project_path(@project))

-unless @project.has_fails?
  =render :partial => 'projects/getting_started'
-else
  .options
    -form_tag(project_path(@project), {:method => :get, :id => 'toggler'}) do |options_form|
      %label
        =check_box_tag "show_resolved", "true", showing_resolved?
        Show resolved
  .clear

-@fails.each do |fail|
  =render :partial => fail
