- link_to project_url(project), :class => (project.has_open_fails?? "project-fail" : "project-ok") do 
  %h1= project.name
  - if project.has_open_fails?
    %h2= project.fails.first.title
    %h3.occurence= time_ago_in_words(project.fails.first.last_occurence_at) + " ago"
