%table
  - @failed_projects.each do |project|
    %tr
      %td{:colspan => ok_project_colspan}
        = render :partial => "project", :object => project
  - @ok_projects.each_slice(ok_project_colspan) do |project_row|
    %tr
      - project_row.each do |project|
        %td
          = render :partial => "project", :object => project

